@charset "UTF-8";

/**
	아이디/비번찾기 관련 CSS
	작성자 : 정승옥
**/

body {
	font-family:"dangdang";
	color:#555;
	background:#eee;
	margin:0;
	padding:0;
	box-sizing:obrder-box;
}

.label-container {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.main {
	min-width:550px;
	max-width:550px;
	min-height:400px;
	max-height:400px;
	padding:50px;
	margin :0 auto;
	background:#fff;
}

section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}

input[type=text] {
/*	height: 20px; */
	padding: 10px 20px;
	width: 80%;
	border: solid 1px lightgray;
}

input[type=password] {
	padding: 10px 20px;
	width: 80%;
	border: solid 1px lightgray;
}

.margin-left {
	margin-right: -15px;
	margin-left: -15px;
}

.my-btn {
    background: #dca73a;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 15px 30px;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.confirm-btn {
    background: #dca73a;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 23px 25px;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.idbox {
/*	background: #dca73a;
	border: medium none; */ 
	border: 1px solid #dca73a; 
	border-radius: 5px;
	color: #000;	
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 0;
	margin: 30px 30px;
	padding: 70px 60px;
	text-align: center;
	touch-action: maniplation;
	transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.btnbox {
	display: flex;
	justify-content: space-around;
}

.idbox-in-modify {
	border: 1px solid #dca73a; 
	border-radius: 5px;
	color: #000;	
/*	display: flex;
	justify-content: center; */
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 0;
	margin: 30px 30px;
	padding: 10px 20px;
	text-align: center;
	touch-action: maniplation;
	transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.left {
	min-width: 130px;
}

.right {
	min-width: 350px;
}

.center {
	display: flex;
	justify-content: center;
	margin: 0 150px;
}

.more-btn1 i {
  position: relative;
  left: 0;
}

.more-btn2 i {
  position: relative;
  right: 0;
}

.more-btn1:hover i {
  right: 7px !important;
}

.btn i {
  color: #ffffff;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.btn {
  -moz-user-select: none;
  background: #dca73a;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
/*  padding: 25px 39px; */
  text-align: center;
  text-transform: capitalize;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover {
  background: #f1b233;
  color: #fff;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn:hover i {
  left: 7px;
}