@charset "UTF-8";

/*
작성자 : 문희주
내용 : 로그인 관련 css

*/



/* join */


.box-login {
    margin: 0 auto;
    padding : 0 5%;
    max-width: 50%;
    background-color: white;
    border-radius: 2em 2em 2em 2em;
}
.box-login > div {
    margin: 0 auto;
}
.noMenuLogo {
    text-align: center;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.cmm-basic-info {
    margin-bottom: 20px;
}
.cmm-basic-info .cmm-tit {
    float: left;
    display: inline-block;
    width: 100px;
}
.cmm-basic-info .cmm-input-area {
    padding: 0 0 0 100px;
}
.mg-b10 {
    margin-bottom: 10px !important;
}
.ft-list > li {
    position: relative;
    line-height: 24px;
    padding-left: 10px;
    color: #666;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    letter-spacing: -.5px;
}
.inp-t > input {
    display: block;
    margin: 0;
    padding: 0;
    height: 26px;
    width: 100%;
    border: 0 none;
    font-size: 16px;
    color: #222;
    background-color: transparent;
    outline: 0;
}
button, input, select, textarea {
    vertical-align: middle;
}
element.style {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    letter-spacing: -.5px;
}
button, input {
    overflow: visible;
}
input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
}
.inp-t {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
.inp-t.inp-cer > .t-txt {
    position: absolute;
    right: 19px;
    top: 6px;
    display: none;
    height: 26px;
    line-height: 26px;
    padding-left: 24px;
    font-size: 14px;
    color: #2666c6;
}

#joinDiv > span {
	color : #dca73a;
}

#joinDiv:hover > span {
	color : white;
}
.background_color{
	padding: 10% 0;
	background-color: #dca73a;
}
.noMenuLogo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.noMenuLogo img{
	width: auto; height: auto;
    max-width: 400px;
    margin: 10% 0 20% 0;
}

.joinBtnDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
}

.joinBtns {
    -moz-user-select: none;
    background: #dca73a;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 20px 10px;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}


.joinBtns.gender{
	background: #fff;
	color: #dca73a;
}

.joinBtns.gender.genderOn{
	background: #dca73a;
	color: #fff;
    padding: 17px 7px;
    border: inset;
	
}



/*login*/

.Button_uibtn__1tGCl {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.Button_uibtn_silver__3Ho2C {
    color: #fff;
    border: 0;
    border-radius: 100px;
    background: #E1C998;
}

.Button_uibtn_white__3l1tT {
    color: #666;
    border: 1px solid #bfbfbf;
    border-radius: 100px;
    background: #fff;
}
.InputText_uiinput_txt__3jtqA .InputText_inner_square__38iB2 input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.LoginMyFindButton_area__245Jy {
    margin-top: 15px;
    text-align: center;
}
.LoginMyFindButton_link__fee2S {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    color: #999;
}
.LoginSnsButton_tit__1kT5i {
    display: inline-block;
    position: relative;
    padding: 0 13px;
    background: #fff;
    font-size: 15px;
    color: #bfbfbf;
    font-weight: 400;
}
.LoginSnsButton_login_warning__IPZhy {
    margin-top: 35px;
    font-size: 13px;
    color: #bfbdbd;
    text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.Footer_footer_wrap__SixRg {
    padding: 20px 0;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.LoginSnsButton_tit_area__bRqmB {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.error{
	color: #ff3399;
}

@media only screen and (max-width: 1200px) {
    .box-login  {
        max-width: 70%
	}
}
@media only screen and (max-width: 1000px) {
    .box-login  {
        max-width: 100%
	}
}

