@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Noto+Serif:400,400i,700&display=swap");
@font-face{
	src:url("../../Cafe24Dangdanghae/Cafe24Dangdanghae.ttf");
	font-family:"dangdang"
}

body {
	font-family:"dangdang";
	color:#555;
	background:#eee;
	margin:0;
	padding:0;
	box-sizing:obrder-box;
}

p {
	margin: 0 0 20px;
	line-height: 1.5;
}

.main {
	min-width:320px;
	max-width:400px;
	padding:50px;
	margin :0 auto;
	background:#fff;
}

section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}

/* 라디오버튼 숨김 */
.input {
	display: none;
}


label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

label:hober{
	color: #2e9cdf;
	cursor: pointer;
}

/* input 클릭시, label 스타일 */
input:checked + label {
	color: #555;
	background: #DCA73A;
	border: 1px solid #ddd;
	border-top: 2px solid #112E41;
	border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2 {
	display: block;
}

.label-container {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.item-container {
	display: flex;
	flex-direction: row;
	
}

.gold-font{
	color: #dca73a;
}

input[type=text] {
	height: 20px;
	padding: 10px 20px;
	width: 80%;
	border: solid 1px #696968;
}

input[type=button] {
	font-family: "dangdang";
	font-size: 15px; 
	font-color: #444;
	letter-spacing: 5px;
	width: 100px;
	height: 40px;
}

.coin-container {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

.coin-item {
	display: flex;
	justify-content: space-around;
	flex-direction:column;
	margin: 50px 50px;
}
.coin-main {
	min-width:60%;
	max-width:60%;
	padding:50px;
	margin :0  auto;
	background:#fff;
	border-radius: 10px;
}

label.coin-tab {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

label.coin-tab:hover{
	color: #dca73a;
	cursor: pointer;
}
/* input 클릭시, label 스타일 */
input:checked + label.coin-tab {
	color: #555;
	background: #DCA73A;
	border: 1px solid #ddd;
	border-radius: 10px;
	border-top: 2px solid #112E41;
	border-bottom: 1px solid #fff;
}

#tab1.coin-tab:checked ~ #content1.container, #tab2.coin-tab:checked ~ #content2.container {
	display: block;
}

input[type=text].coin-num {
	height: 50px;
	width: 80px;
	border: solid 1px #696968;
	border-radius: 10px;
	text-align: center;
}

input[type=text]#coin-price {
	height: 50px;
	width: 200px;
	border: #000;
	text-align: right;
}

input[type=button].buy-coin {
	height: 50px;
	width: 150px;
	background: #dca73a;
	border: solid 1px #fff;
	border-radius: 30px;
	cursor: pointer;
}

span.coin-num {
	font-size: 30px;
}

div.buy-coin-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
	flex-basis: 30%;
	backgound: yellow;
}

div.coin-list {
	display: flex;
	flex-direction: row;
	flex-basis: 30%;
	justify-content: space-around;
	text-align: center;
/*	border-bottom: 2px solid #dca73a; */
}

div.coin-list-bottom {
	display: flex;
	flex-direction: row;
	flex-basis: 20%;
	justify-content: space-evenly;
	border-bottom: 2px solid #dca73a;
}

div.blank {
	margin-bottom: 300px;
}

div.coin-search {
	display: flex;
	justify-content: space-evenly;
	flex-basis: 20%;
	margin-bottom: 40px;
}

div.coin-search > span {
	width: 80px;
	text-align: center;
	border: 1px solid #dca73a;
	border-radius: 40px;
	cursor: pointer;
}

/*****************************************/

.car-news-all {
	disaply: flex;
	justify-content: center;
	background: yellow;
	margin: 0 200px;
}

@media screen and (max-width:1460px){
	.car-news{
		display: none;
	}
	.car-news-all {
	disaply: flex;
	justify-content: center;
/*	background: yellow; */
	margin: 0 150px;
}
}

.fav-news-title {
	display: flex;
	margin: 30px 0;
}

.fav-news {
	display: flex;
/*	justify-content: space-evenly; */
	text-align: center;
	flex-basis: auto;
	
}

.car-news {
	display: flex;
	justify-content: center;
	justify-items: space-evenly;
	text-align:center;
	
}

#search-menu {
	margin: 0 30px;
	width: 300px;
}

#search-input {
	width: 500px;
	height: 50px;
	border: 1px solid #fff;
}

#search-btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 0;
	padding: 0px 39px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	white-space: nowrap;
	width: 100px;
	height: 50px;
	margin: 0 30px;
	border: 2px solid #dca73a;
	color: #dca73a;
	z-index:100;
	background: none;
	border-radius: 5px;
	touch-action: manipulation;
	transition: alll 0.3s ease 0x;
	cursor: pointer;
}



div#coin-box {
	display: flex;
	justify-content: center;
	align-contents: center;
	align-items: center;
	width: 30%;
	padding: 50px;
	border: 1px solid gray;
	border-radius: 10px;
}