<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="categoryMap">

<!-- 카테고리 가져오기 -->
<select id="categoryselect" resultType="hashmap">
	select * from category group by jejosa order by jejosa
</select>

<select id="modelselect" resultType="hashmap" parameterType="String">
	select * from category where jejosa=#{jejosa}
</select>

</mapper>