<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CoinMap">

	<!-- 내 코인 잔여량 확인 -->
	<select id="onlyCoin" parameterType="String" resultType="Integer">
		SELECT SUM(coin) AS SUNCOIN
		FROM coin 
		WHERE m_id=#{m_id}
	</select>

	<!-- 내 코인 충전 내역 확인 -->
	<select id="coinView" parameterType="String" resultType="hashmap">
		SELECT M_ID, DATE_FORMAT(DAY, '%Y-%m-%d') AS DAY, PRICE, COIN 
		FROM coin
		WHERE m_id=#{m_id} AND coin > 0
		ORDER BY DAY DESC
	</select>	


	<!-- 관리자 - 코인현황 목록 가져오기 -->
	<select id="allCoinList" parameterType="String" resultType="coin" >
		SELECT * FROM coin
	</select>

	<select id="monthlyCoin" parameterType="string" resultType="coin">
	SELECT A.*
      FROM (SELECT DATE_FORMAT(DAY, '%Y년 %m월') AS day
                 , SUM(PRICE)                   AS price
              FROM coin
           ) A
    GROUP BY A.DAY
	</select>
	
	
</mapper>