<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CoinMap">

	<!-- 내 코인 잔여량 확인 -->
	<select id="onlyCoin" parameterType="String" resultType="Integer">
		SELECT SUM(coin) AS SUNCOIN
		FROM coin 
		WHERE m_id=#{m_id}
	</select>

	<!-- 내 코인 충전 내역 확인 -->
	<select id="coinView" parameterType="String" resultType="hashmap">
		SELECT M_ID, DATE_FORMAT(DAY, '%Y-%m-%d') AS DAY, PRICE, COIN 
		FROM coin
		WHERE m_id=#{m_id} AND coin > 0
		ORDER BY DAY DESC
	</select>	
	
	<!-- 내 코인 잔여량으로 member 테이블의 coin 수를 업데이트 -->
	<update id="updateCoin" parameterType="member">
		UPDATE member SET coin=#{coin} WHERE m_id=#{m_id}
	</update>
	
	<!-- 결제 결과를 DB에 반영 - coin 테이블 -->
	<insert id="insertCoin" parameterType="coin">
		INSERT INTO coin 
		VALUES ( #{m_id}, now(), #{price}, #{coin} )
	</insert>

	<!-- 내 코인 충전 내역 - 기간별 확인 -->
	<select id="coinViewPeriod1" parameterType="hashmap" resultType="hashmap">
		SELECT M_ID, DATE_FORMAT(DAY, '%Y-%m-%d') AS DAY, PRICE, COIN 
		FROM coin
		WHERE m_id = #{m_id} ORDER BY DAY DESC;
	</select>
	<select id="coinViewPeriod2" parameterType="hashmap" resultType="hashmap">
		SELECT M_ID, DATE_FORMAT(DAY, '%Y-%m-%d') AS DAY, PRICE, COIN 
		FROM coin
		WHERE DAY BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() 
		AND m_id = #{m_id} ORDER BY DAY DESC;
	</select>
	<select id="coinViewPeriod3" parameterType="hashmap" resultType="hashmap">
		SELECT M_ID, DATE_FORMAT(DAY, '%Y-%m-%d') AS DAY, PRICE, COIN 
		FROM coin
		WHERE DAY BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW() 
		AND m_id = #{m_id} ORDER BY DAY DESC;
	</select>




	<!-- 관리자 - 코인현황 목록 가져오기 -->
	<select id="allCoinList" parameterType="String" resultType="coin" >
		SELECT * FROM coin
	</select>

	<select id="monthlyCoin" parameterType="string" resultType="coin">
	SELECT A.*
      FROM (SELECT DATE_FORMAT(DAY, '%Y년 %m월') AS day
                 , SUM(PRICE)                   AS price
              FROM coin
           ) A
    GROUP BY A.DAY
	</select>
	
	
</mapper>