<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeclarationMAP">

	<insert id="declaration_insert" parameterType="declaration">
		INSERT INTO declaration
		(de_num, m_id, to_id, content, de_date)
		VALUES
		(nextval(declaration_sq),#{m_id},#{to_id},#{content},sysdate())
	</insert>
	
</mapper>