<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HeartMAP">


	<insert id="insertHeart" parameterType="heart">
		INSERT INTO heart VALUES (nextval(heart_w_id_sq),#{m_id},#{sell_id},sysdate())
	</insert>

	<insert id="deleteHeart" parameterType="heart">
		delete from heart where m_id = #{m_id}  
		<if test="sell_id!=0">
		 	and sell_id = #{sell_id}
		</if>
	</insert>

	<select id="selectHeart" resultType="heart" parameterType="String">
		select * from heart where m_id=#{m_id}
	</select>

</mapper>