<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMAP">


	<insert id="insertMember" parameterType="member">
		INSERT INTO member
		(m_id, m_pw, m_name, gender, email, birth, tel, w_date, state, enabled)
		VALUES
		(#{m_id},#{m_pw},#{m_name},#{gender},#{email},#{birth},#{tel},sysdate(),'normal',1)
	</insert>
	
	<select id="checkUniqueId" parameterType="member" resultType="member">
		SELECT * FROM member
		WHERE m_id=#{m_id}
	</select>

	<update id="memberUpdate" parameterType="member">
		UPDATE member SET
		gmail =	#{gmail}
		WHERE id = #{id}
	</update>
	
	<select id="checkByGoogleEmail" parameterType="member" resultType="member">
		SELECT * FROM member
		WHERE gmail=#{gmail}
	</select>
	
	<select id="coinView" parameterType="String" resultType="hashmap">
		<!--
		SELECT M_ID, DATE_FORMAT(DAY, '%Y-%m-%d') AS DAY, PRICE, COIN FROM coin
		 -->
		SELECT * FROM coin
		WHERE m_id=#{m_id}
	</select>	
	

	
	

</mapper>