<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsMAP">

<select id="news_list" resultType="hashmap" parameterType="String">
	SELECT * FROM news ORDER BY w_date DESC LIMIT ${value},15
</select>

<select id="newscount" resultType="Integer">
	SELECT count(*) as count FROM news;
</select>

<select id="popularity" resultType="hashmap">
	SELECT * FROM news ORDER BY love_cnt DESC,read_cnt DESC LIMIT 0,5
</select>

<select id="newsview" resultType="hashmap" parameterType="String">
	SELECT * FROM news WHERE w_id=#{value}
</select>

<update id="goodadd" parameterType="String">
	update news SET love_cnt=love_cnt+1 WHERE w_id=#{value}
</update>

<update id="goodsub" parameterType="String">
	update news SET love_cnt=love_cnt-1 WHERE w_id=#{value}
</update>

<insert id="goodinsert" parameterType="heart">
	INSERT INTO newsheart VALUES(#{m_id},#{w_id})
</insert>

<delete id="gooddelete" parameterType="heart">
	delete FROM newsheart where m_id=#{m_id} and w_id=#{w_id}
</delete>

<select id="goodselect" resultType="String" parameterType="heart">
	SELECT w_id FROM newsheart where m_id=#{m_id} and w_id=#{w_id}
</select>

<update id="viewadd" parameterType="String">
	update news SET read_cnt=read_cnt+1 WHERE w_id=#{value}
</update>

</mapper>