<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsMAP">

<select id="news_list" resultType="hashmap" parameterType="String">
	SELECT r.count, n.* FROM news n left JOIN 
(SELECT COUNT(*) AS COUNT ,w_id FROM reply GROUP by w_id) r
ON n.w_id=r.w_id ORDER BY w_date DESC LIMIT ${value},15
</select>

<select id="newscount" resultType="Integer">
	SELECT count(*) as count FROM news;
</select>

<select id="popularity" resultType="hashmap">
	SELECT r.count, n.* FROM news n left JOIN 
(SELECT COUNT(*) AS COUNT ,w_id FROM reply GROUP by w_id) r
ON n.w_id=r.w_id ORDER BY love_cnt DESC,read_cnt DESC LIMIT 0,5
</select>

<select id="newsview" resultType="hashmap" parameterType="String">
	SELECT * FROM news WHERE w_id=#{value}
</select>

<update id="goodadd" parameterType="String">
	update news SET love_cnt=love_cnt+1 WHERE w_id=#{value}
</update>

<update id="goodsub" parameterType="String">
	update news SET love_cnt=love_cnt-1 WHERE w_id=#{value}
</update>

<insert id="goodinsert" parameterType="heart">
	INSERT INTO newsheart VALUES(#{m_id},#{w_id})
</insert>

<delete id="gooddelete" parameterType="heart">
	delete FROM newsheart where m_id=#{m_id} and w_id=#{w_id}
</delete>

<select id="goodselect" resultType="String" parameterType="heart">
	SELECT w_id FROM newsheart where m_id=#{m_id} and w_id=#{w_id}
</select>

<update id="viewadd" parameterType="String">
	update news SET read_cnt=read_cnt+1 WHERE w_id=#{value}
</update>

<insert id="replyinsert" parameterType="reply">
	INSERT INTO reply 
	VALUES(nextval(reply_r_id_sq),#{w_id},#{content},#{writer},sysdate())
</insert>

<select id="selectreply" resultType="hashmap" parameterType="String">
	SELECT m_name,photo,m_id,n.* FROM member m 
inner JOIN (SELECT r_id,content,writer,w_date FROM reply WHERE w_id=#{w_id}) n
ON m.m_id=n.writer ORDER BY w_date DESC LIMIT ${r_id},15
</select>

<select id="reply_count" resultType="Integer" parameterType="String">
	SELECT COUNT(*) AS count FROM reply WHERE w_id=#{value}
</select>

<select id="reply_num" resultType="reply" parameterType="reply">
SELECT w_id FROM reply WHERE w_id=#{w_id} AND writer=#{writer} AND  
w_date=(SELECT MAX(w_date) FROM reply WHERE w_id=#{w_id} AND writer=#{writer})
</select>

<select id="reply_delete" parameterType="String">
delete from reply where r_id=#{value}
</select>


</mapper>