<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salesMap">

<!-- 글 등록 -->
<insert id="salesInsert" parameterType="sales">
	INSERT INTO sell 
	(sell_id, m_id, title, w_date, old, mile, color, accident, price, image, option, content, 
		vehicle_num, fuel, gear, status, baeki, guarantee, seller) 
	VALUES 
	(sell_sell_id_sq.NEXTVAL, #{m_id}, #{title}, #{wDate}, #{carYear}, #{km}, #{carColor}, #{accident}, 
		#{salesPrice}, #{carImg}, #{carOption}, #{salesContext}, #{carNumber}, 
		#{carFuel}, #{carGear}, #{status}, #{cc}, #{guarantee}, #{seller})
</insert>

<!-- 글 수정 -->
<update id="salesModify" parameterType="sales">
	<![CDATA[ 
		UPDATE sell 
		SET title=#{title}, old=#{carYear}, mile=#{km}, color=#{carColor}, accident=#{accident}, price=#{salesPrice},
			image=#{carImg}, option=#{carOption}, content=#{salesContext}, vehicle_num=#{carNumber}, fuel=#{carFuel},
			gear=#{carGear}, baeki=#{cc}
		WHERE sell_id=#{salesNumber}
	]]>
</update>

<!-- 상품 수정 아이템 불러오기(글 상세페이지) -->
<select id="salesCheck" parameterType="sales" resultType="sales">
	<![CDATA[
		SELECT * FROM sell
		WHERE sell_id=#{salesNumber}
	]]>
</select>

<!-- 글 삭제 -->
<delete id="salesDelete" parameterType="sales">
	<![CDATA[
		DELETE FROM sell
		WHERE sell_id=#{salesNumber}
	]]>
</delete>


<!-- 차랑명 데이터들 가져오기 -->

<!-- 제조사 가져오기 -->
<select id="brandList" resultType="hashmap" parameterType="String">
	SELECT jejosa FROM category GROUP BY jejosa;
</select>

<!-- 모델 가져오기 -->
<select id="model" resultType="hashmap" parameterType="String">
	SELECT * FROM category WHERE jejosa=#{carBrand};
</select>

<!-- 세부모델 가져오기 -->
<select id="detailmodel" resultType="hashmap" parameterType="String">
	SELECT d.detail FROM detail d INNER JOIN (SELECT * FROM category where model = #{carModel}) c ON d.car_num = c.car_num;
</select>

<!-- 등급 가져오기 -->
<select id="grade" resultType="hashmap" parameterType="String">
	
</select>

<!-- 세부등급 가져오기 -->
<select id="detailgrade" resultType="hashmap" parameterType="grade">
	
</select>

</mapper>